body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

h1{
    text-align: center;
}

.main{
    margin-left: 470px;
    background-color: #1f1f21;
    width: 30%;

}
 #display{
    width: 93%;
    padding: 5px;
    font-size: 55px;
    color: black;
    background-color: #fff;
    text-align: right;
    border: 1px solid black;
    outline: none;
}
.clear{
    background-color: red;
    color: #fff;
}
 input{
    background-color: #333;
    color: #fff;
    margin-top: 5px;
    font-size: 25px;
    width: 95px;
    height: 95px;
    border-radius: 40px;
    border-width: 0;
} 
.finalresult{
    background-color: #001010;
}